%h1 Listing notebooks

%table
  %thead
    %tr
      %th Title
      %th Description
      %th
      %th
      %th
      
  %tbody
    - @notebooks.each do |notebook|
      %tr
        %td= notebook.title
        %td= notebook.description
        %td= link_to 'Show', notebook
        %td= link_to 'Edit', edit_notebook_path(notebook)
        %td= link_to 'Destroy', notebook, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Notebook', new_notebook_path
= will_paginate @notebooks
